<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRootLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CRootLauncher.Properties.Settings>
            <setting name="Authority" serializeAs="String">
                <value>https://adfs-srv.croot.com/adfs</value>
            </setting>
            <setting name="ResourceUri" serializeAs="String">
                <value>https://adfs-srv.croot.com/WebApi/</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>5071e284-f5b5-45e6-995f-53ee33cd3e27</value>
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value>http://adfs-srv.croot.com/</value>
            </setting>
        </CRootLauncher.Properties.Settings>
    </userSettings>
</configuration>